<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sample03</title>
</head>
<body>
<h3>Sample03 HelloServlet</h3>

<form action="/servlet/hello">
    name: <input type="text" name="name"/><br><br>
    age: <input type="text" name="age"/><br><br>
    좋아하는 음식:
    <select name="food" multiple>
        <option value="햄버거">햄버거</option>
        <option value="치킨">치킨</option>
        <option value="피자">피자</option>
    </select> <br><br>

    <input type="submit" value="확인">
</form>
</body>
</html>